# Public hostname used by Traefik.
# Example without protocol: mybank.example.com
MYBANK_HOST=vps-cb604562.vps.ovh.net

# Symfony
APP_ENV=prod
APP_SECRET=change_me_generate_a_long_random_secret
DEFAULT_URI=https://vps-cb604562.vps.ovh.net
CORS_ALLOW_ORIGIN=^https://vps-cb604562\.vps\.ovh\.net$

# Database
MYSQL_DATABASE=mybank
MYSQL_USER=mybank
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me_root
DATABASE_URL=mysql://mybank:change_me@db:3306/mybank?serverVersion=8.0

# JWT
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=change_me_jwt_passphrase
